.contenidoweb{
    position: relative;
}
.up {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1b6ba8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    z-index: 999
}
.up:hover {
    background: #062bff;
    text-decoration: none;
}
.title_item_h4_center{
    color: black;
    font-size: 42px;
    margin-bottom: 15px;
    text-align: center;
}
.title_item_h4{
    color: black;
    font-size: 42px;
    margin-bottom: 15px;
}
.title_item_h5 {
     color: black;
     font-size: 25px;
     margin-bottom: 15px;
}

/*Responsiveness*/
@media (min-width: 992px) {
    .caritas {
        position: relative;
        margin-top: -110px;
    }

    .tab-content {
        height: 330px;
    }
}


