.social {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: -40px; /* Establecemos la barra en la izquierda */
    top: 20em; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .us-icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .us-icon-twitter {background: #00abf0;}
.social ul li .us-icon-instagram {background: #d95232;}
.social ul li .us-icon-youtube {background: #ae181f;}
.social ul li .us-icon-mail {background: #666666;}

.social ul li a:hover {
    background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

@font-face {
    font-family:ultimate-social;
    src:url("http://doulos.rokefeler.net/fonts/ultimate-social.eot?v=5");
    src:url("http://doulos.rokefeler.net/fonts/ultimate-social.eot?#iefix&v=5") format('embedded-opentype'),
    url("http://doulos.rokefeler.net/fonts/ultimate-social.woff?v=5") format('woff'),
    url("http://doulos.rokefeler.net/fonts/ultimate-social.ttf?v=5") format('truetype'),
    url("http://doulos.rokefeler.net/fonts/ultimate-social.svg?#ultimate-social&v=5") format('svg');
    font-weight:400;
    font-style:normal
}
[class*=" us-icon-"]:before,
[class^=us-icon-]:before {
    font-family:ultimate-social;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    line-height:1em;
    text-transform:none;
    margin-left:.2em
}
.us-icon-managewp:before {
    content:"\e000"
}
.us-icon-reddit:before {
    content:"\e001"
}
.us-icon-github:before {
    content:"\e002"
}
.us-icon-envato:before {
    content:"\e003"
}
.us-icon-pocket:before {
    content:"\e004"
}
.us-icon-meneame:before {
    content:"\e005"
}
.us-icon-spin:before {
    content:"\e006"
}
.us-icon-flipboard:before {
    content:"\e007"
}
.us-icon-buffer:before {
    content:"\e008"
}
.us-icon-google:before {
    content:"\e009"
}
.us-icon-gplus:before {
    content:"\e009"
}
.us-icon-instagram:before {
    content:"\e00a"
}
.us-icon-linkedin:before {
    content:"\e00b"
}
.us-icon-mail:before {
    content:"\e00c"
}
.us-icon-mailchimp:before {
    content:"\e00c"
}
.us-icon-love:before {
    content:"\e00d"
}
.us-icon-tumblr:before {
    content:"\e00e"
}
.us-icon-twitter:before {
    content:"\e00f"
}
.us-icon-members:before {
    content:"\e010"
}
.us-icon-print:before {
    content:"\e011"
}
.us-icon-vimeo:before {
    content:"\e012"
}
.us-icon-vkontakte:before {
    content:"\e013"
}
.us-icon-comments:before {
    content:"\e014"
}
.us-icon-feedpress:before {
    content:"\e015"
}
.us-icon-youtube:before {
    content:"\e016"
}
.us-icon-stumble:before {
    content:"\e017"
}
.us-icon-stumbleupon:before {
    content:"\e017"
}
.us-icon-posts:before {
    content:"\e018"
}
.us-icon-dribbble:before {
    content:"\e019"
}
.us-icon-soundcloud:before {
    content:"\e01a"
}
.us-icon-delicious:before {
    content:"\e01b"
}
.us-icon-facebook:before {
    content:"\e01c"
}
.us-icon-flickr:before {
    content:"\e01d"
}
.us-icon-pinterest:before {
    content:"\e01e"
}
.us-icon-digg:before {
    content:"\e01f"
}
.us-icon-xing:before {
    content:"\e020"
}
.us-icon-weibo:before {
    content:"\e021"
}
.us-icon-whatsapp:before {
    content:"\e022"
}
.us-icon-behance:before {
    content:"\e023"
}
.us-icon-ok:before {
    content:"\e024"
}
.us-icon-plus:before {
    content:"\e025"
}
.us-icon-minus:before {
    content:"\e026"
}
.us-icon-caret-left:before {
    content:"\e027"
}
.us-icon-caret-right:before {
    content:"\e028"
}