#slides {
  position: relative;
}
#slides .slides-container {
  display: flex;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  /*top: -110px;*/
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: relative;
  /*top: 20%;**/
  bottom: 50%;
  width: 100%;
  /*//bottom: 210px;*/
  z-index: 999;
}
.slides-navigation a {
  position: relative;
  display: block;
  color: rgba(0,0,0,0.8);
  border-radius: 50%;

}
.slides-navigation a:hover {
  opacity: 60%;
  color: white;
}
.slides-navigation a.prev {
  left: 0;
  width: 56px;
}
.slides-navigation a.next {
  left: 96%;
  bottom: 56px;
  width: 56px;
}

.slides-pagination {
  position: relative;
  z-index: 990;
  bottom: 210px;
  /*top: 120px;*/
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 3px solid #fff;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: rgba(0,0,0,0);
  opacity: 0.75;
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
  bottom: 320px;
}
.slides-pagination a.current {
  background-color: white;
  opacity: 50%;
}
.Description {
  text-align: center;
  font-size: 18px;
  background: rgba(1,1,1,0.2);
  font-family: "Sen", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
}
 .Description h1{
  font-family: "Angeline Vintage", sans-serif;
  font-size: 7rem;
}
@media (max-width: 992px) {
  .Description {
    font-size: 16px;
  }
  .Description h1 {
    font-size: 6rem;
  }
}
@font-face {
  font-family: "Angeline Vintage";
  src: url("../fonts/AngelineVintage.ttf");
}
/*En caso no funcione la fuente Angeline Vintage*/
@font-face {
  font-family: 'Quintessential', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
}
