/* Footer Area css
============================================================================================ */
.footer_area{
	background: #000;
	padding-top: 150px;
	padding-bottom: 120px;
}
.footer_inner{
	
}
.f_widget{}
.f_title{
	margin-bottom: 35px;
	h3{
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		font-family: $pt;
		margin-bottom: 0px;
	}
}
.ab_widget{
	p{
		font-size: 14px;
		line-height: 24px;
		font-family: $rob;
		color: white;
		margin-bottom: 30px;
		a{
			color: $baseColor;
		}
		& + p{
			margin-bottom: 0px;
		}
	}
}
.news_widget{
	padding-right: 15px;
	p{
		font-size: 14px;
		line-height: 24px;
		font-family: $rob;
		color: white;
		margin-bottom: 15px;
	}
	.input-group{
		input{
			height: 40px;
			background: transparent;
			border-radius: 0px;
			width: 80%;
			border: none;
			padding: 0px 15px;
			border: 1px solid #1e233b;
			font-size: 14px;
			font-family: $rob;
			color: #cccccc;
			outline: none;
			box-shadow: none;
			@include placeholder{
				font-size: 14px;
				font-family: $rob;
				font-weight: normal;
				color: #cccccc;
			}
		}
		.sub-btn{
			border-radius: 0px;
			background: $baseColor;
			outline: none !important;
			box-shadow: none !important;
			padding: 0px;
			width: 42px;
			cursor: pointer;
			color: #fff;
		}
	}
}
.social_widget{
	p{
		font-size: 14px;
		line-height: 24px;
		font-family: $rob;
		color: $pfont;
		margin-bottom: 10px;
	}
	.list{
		li{
			margin-right: 17px;
			display: inline-block;
			a{
				color: #cccccc;
				font-size: 14px;
				@include transition;
			}
			&:last-child{
				margin-right: 0px;
			}
			&:hover{
				a{
					color: $baseColor;
				}
			}
		}
	}
}
.copy_right_text{
	text-align: center;
	margin-top: 60px;
	p{
		a{
			color: $baseColor;
		}
	}
}

/* End Footer Area css
============================================================================================ */