/*font Variables*/
$rob: 'Roboto', sans-serif;
$pt: 'Sen', serif;


/*Color Variables #fa333f;*/
$baseColor: #2F6997;
$dip: #222222;
$pfont: black;


/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sen&display=swap");

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}




