/* Home Banner Area css */
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables #fa333f;*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sen&display=swap");
/*---------------------------------------------------- */
/*============================================================================================ */
.home_banner_area {
  position: relative;
  z-index: 1;
  background: #000;
  margin-bottom: 120px; }
  .home_banner_area .box_1620 {
    background: url(../img/banner/home-banner.jpg) no-repeat scroll center;
    background-size: cover;
    min-height: 480px;
    border-radius: 12px;
    position: relative;
    bottom: -120px; }
  .home_banner_area .banner_inner {
    position: relative;
    width: 100%;
    min-height: 480px;
    display: flex; }
    .home_banner_area .banner_inner .banner_content {
      color: #fff;
      vertical-align: middle;
      align-self: center; }
      .home_banner_area .banner_inner .banner_content h5 {
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 15px; }
      .home_banner_area .banner_inner .banner_content h3 {
        font-size: 80px;
        font-family: "PT Serif", serif;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 76px; }
      .home_banner_area .banner_inner .banner_content p {
        font-size: 14px;
        line-height: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        max-width: 620px;
        margin: auto; }
      .home_banner_area .banner_inner .banner_content .main_btn {
        margin-top: 40px; }

.blog_banner {
  min-height: 660px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0px; }
  .blog_banner .banner_inner {
    background: #04091e;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 660px;
    z-index: 1; }
    .blog_banner .banner_inner .overlay {
      background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
      opacity: .5;
      height: 125%;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: -1; }
    .blog_banner .banner_inner .blog_b_text {
      max-width: 700px;
      margin: auto;
      color: #fff; }
      .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 60px;
        font-weight: bold;
        font-family: "PT Serif", serif;
        line-height: 66px;
        margin-bottom: 15px; }
      .blog_banner .banner_inner .blog_b_text p {
        font-size: 16px;
        margin-bottom: 35px; }
      .blog_banner .banner_inner .blog_b_text .white_bg_btn {
        line-height: 42px;
        padding: 0px 45px; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.logoDM {
  height: 110px;
  width: 170px; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 350px;
  background: #000;
  margin-bottom: 120px; }
  .banner_area .box_1620 {
    background: url(../img/banner/banner.jpg) no-repeat scroll center center;
    background-size: cover;
    min-height: 360px;
    border-radius: 12px;
    position: relative;
    bottom: -120px; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 360px;
    z-index: 1; }
    .banner_area .banner_inner .banner_content h2 {
      color: #fff;
      font-size: 48px;
      font-family: "PT Serif", serif;
      margin-bottom: 0px;
      font-weight: bold; }
    .banner_area .banner_inner .banner_content .page_link a {
      font-size: 14px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      margin-right: 32px;
      position: relative; }
      .banner_area .banner_inner .banner_content .page_link a:before {
        content: "\e87a";
        font-family: 'Linearicons-Free';
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%); }
      .banner_area .banner_inner .banner_content .page_link a:last-child {
        margin-right: 0px; }
        .banner_area .banner_inner .banner_content .page_link a:last-child:before {
          display: none; }
      .banner_area .banner_inner .banner_content .page_link a:hover {
        color: #007CFF; }

/* End Home Banner Area css
============================================================================================ */

/*# sourceMappingURL=breadcrumb.css.map */
